<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{./fragments/main_layout}">
<head>
    <title>iRide</title>
</head>
<body>
<div layout:fragment="content" class="container" style="min-width: 700px; max-width: 1500px">
    <div class="jumbotron">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Instruktor</th>
                <th scope="col">Kursant</th>
                <th scope="col">Typ kategorii</th>
                <th scope="col">Nazwa kategorii</th>
                <th scope="col">Status</th>
                <th scope="col">Akcje</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="courseListOutput: ${courseListOutputs}">
                <th scope="row" th:text="${courseListOutput.id}" />
                <td>
                    <a th:href="@{'/instructor/' + ${courseListOutput.instructorId}}" th:text="${courseListOutput.instructor}" />
                </td>
                <td>
                    <a th:href="@{'/student/' + ${courseListOutput.studentId}}" th:text="${courseListOutput.student}" />
                </td>
                <td th:text="${courseListOutput.categoryType}" />
                <td th:text="${courseListOutput.categoryName}" />
                <td th:text="${courseListOutput.status}" />
                <td style="max-width: 195px;">
                    <a style="width: 80px;" th:href="@{'/course/' + ${courseListOutput.id}}" class="btn btn-primary btn-sm my-2">Szczegóły</a>
                    <a style="width: 80px;" th:href="@{'/courseEdit/' + ${courseListOutput.id}}" class="btn btn-primary btn-sm my-2">Edycja</a>
                    <form th:action="@{'/course/{id}'(id=${courseListOutput.id})}" th:method="DELETE" style="display: inline">
                        <input type="hidden" name="_method" value="DELETE" />
                        <button style="width: 80px;" class="btn btn-danger btn-sm my-2" type="submit" id="submitButton">Usuń</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>