<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{./fragments/main_layout}">
<head>
    <title>iRide</title>
</head>
<body>
<div layout:fragment="content" class="container" style="min-width: 600px">
    <div class="jumbotron">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Imię</th>
                <th scope="col">Nazwisko</th>
                <th scope="col">Kategorie</th>
                <th scope="col">Akcje</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="instructorListOutput: ${instructorListOutputs}">
                <th scope="row" th:text="${instructorListOutput.id}" />
                <td th:text="${instructorListOutput.firstname}" />
                <td th:text="${instructorListOutput.lastname}" />
                <td>
                    Teoria:
                    <div th:if="${#lists.size(instructorListOutput.theory)} > 0" th:each="theory : ${instructorListOutput.theory}" style="display: inline">
                        <div th:text="${theory}"  style="display: inline"/>
                    </div>
                    <div th:if="${#lists.size(instructorListOutput.theory)} == 0" style="display: inline">
                        <div style="display: inline">Brak</div>
                    </div>
                    <br>Praktyka:
                    <div th:if="${#lists.size(instructorListOutput.practice)} > 0" th:each="practice : ${instructorListOutput.practice}" style="display: inline">
                        <div th:text="${practice}"  style="display: inline"/>
                    </div>
                    <div th:if="${#lists.size(instructorListOutput.practice)} == 0" style="display: inline">
                        <div style="display: inline">Brak</div>
                    </div>
                </td>
                <td>
                    Przyciski edycja, usuwanie
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>