<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{./fragments/main_layout}">
<head>
    <title>iRide</title>
</head>
<body>
<div layout:fragment="content" class="container" style="max-width: 600px;">
    <div class="jumbotron p-2" style="max-width: 100%;">
        <h1 class="text-center" style="color: #6c757d;">Wyślij wiadomość</h1>
        <form th:action="@{'/vehicle/create'}" method="post">
            <div class="form-row">
                <div class="col">
                    <label for="categoryId" class="pt-2">Odbiorca:</label>
                    <select class="custom-select" id="categoryId" name="categoryId" required>
                        <optgroup label="Administratorzy">
                            <option value="volvo">Volvo</option>
                            <option value="saab">Saab</option>
                        </optgroup>
                        <optgroup label="Studenci">
                            <option value="volvo">AAA</option>
                            <option value="saab">SaBBBab</option>
                        </optgroup>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <label for="mark" class="pt-2">Tytuł:</label>
                    <input type="text" class="form-control" id="mark" name="mark" required>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <label for="plateNumber" class="pt-2">Treść:</label>
                    <textarea type="text" class="form-control" id="plateNumber" name="plateNumber" required></textarea>
                </div>
            </div>
            <div class="form-group text-center pt-3">
                <input class="btn btn-primary btn-sm my-2" type="submit" value="Wyślij">
            </div>
        </form>
    </div>
</div>
</body>
</html>