<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{./fragments/main_layout}">
<head>
    <title>iRide</title>
</head>
<body>
<div layout:fragment="content" class="container" style="min-width: 600px">
    <div class="jumbotron">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Imię</th>
                <th scope="col">Nazwisko</th>
                <th scope="col">Aktywne kursy</th>
                <th scope="col">Archiwalne kursy</th>
                <th scope="col">Akcje</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="studentListOutput: ${studentListOutputs}">
                <th scope="row" th:text="${studentListOutput.id}" />
                <td th:text="${studentListOutput.firstname}" />
                <td th:text="${studentListOutput.lastname}" />
                <td>
                <div th:each="activeCourse : ${studentListOutput?.activeCourses}">
                    <a th:href="@{'/course/' + ${activeCourse.key}}" th:text="${activeCourse.value}" style="display: inline" />
                </div>
                </td>
                <td>
                    <div th:each="historicCourse : ${studentListOutput?.historicCourses}">
                        <a th:href="@{'/course/' + ${historicCourse.key}}" th:text="${historicCourse.value}" style="display: inline"/>
                    </div>
                </td>
                <td>
                    Przyciski edycja, usuwanie
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>