<div th:fragment="footer" class="mt-auto" xmlns:th="http://www.thymeleaf.org">
    <footer class="page-footer font-small bg-dark pt-4">
<!--        <div class="container-fluid text-center text-md-left">-->
<!--            <div class="row">-->
<!--&lt;!&ndash;                <div class="col-md-6 mt-md-0 mt-3">&ndash;&gt;-->
<!--&lt;!&ndash;                    <h5 class="text-uppercase">Footer Content</h5>&ndash;&gt;-->
<!--&lt;!&ndash;                    &lt;!&ndash;                        <p>Here you can use rows and columns to organize your footer content.</p>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--                <hr class="clearfix w-100 d-md-none pb-3">-->
<!--                <div class="col-md-3 mb-md-0 mb-3">-->
<!--                </div>-->
<!--                <div class="col-md-3 mb-md-0 mb-3">-->
<!--                    &lt;!&ndash;                        <h5 class="text-uppercase">Links</h5>&ndash;&gt;-->
<!--                    &lt;!&ndash;                        <ul class="list-unstyled">&ndash;&gt;-->
<!--                    &lt;!&ndash;                            <li>&ndash;&gt;-->
<!--                    &lt;!&ndash;                                <a href="#!">Link 1</a>&ndash;&gt;-->
<!--                    &lt;!&ndash;                            </li>&ndash;&gt;-->
<!--                    &lt;!&ndash;                        </ul>&ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="https://github.com/PatrykZaniewski"> Patryk Zaniewski</a>
        </div>
    </footer>
</div>