<div th:fragment="header_unlogged" xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">iRide</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToogle"
                aria-controls="navbarToogle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToogle">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Test_nz</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Zaloguj</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div th:fragment="header_admin" xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">iRide</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToogle"
                aria-controls="navbarToogle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToogle">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Test_Admin</a>
                </li>
            </ul>
            <div th:replace="~{fragments/navbar :: navbar}"></div>
        </div>
    </nav>
</div>

<div th:fragment="header_instructor" xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">iRide</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToogle"
                aria-controls="navbarToogle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToogle">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Test_instructor</a>
                </li>
            </ul>
            <div th:replace="~{fragments/navbar :: navbar}"></div>
        </div>
    </nav>
</div>

<div th:fragment="header_student" xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">iRide</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToogle"
                aria-controls="navbarToogle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToogle">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">test_student</a>
                </li>
            </ul>
            <div th:replace="~{fragments/navbar :: navbar}"></div>
        </div>
    </nav>
</div>