<div th:fragment="header_unlogged" xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-expand-custom navbar-dark bg-dark">
        <a class="navbar-brand" href="#">iRide</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToogle"
                aria-controls="navbarToogle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToogle">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Zaloguj</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div th:fragment="header_admin" xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-expand-custom navbar-dark bg-dark">
        <a class="navbar-brand" href="#">iRide</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToogle"
                aria-controls="navbarToogle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToogle">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Admin</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div th:fragment="header_instructor" xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-expand-custom navbar-dark bg-dark">
        <a class="navbar-brand" href="#">iRide</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToogle"
                aria-controls="navbarToogle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToogle">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Instruktor</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div th:fragment="header_student" xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-expand-custom navbar-dark bg-dark">
        <a class="navbar-brand" href="#">iRide</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToogle"
                aria-controls="navbarToogle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToogle">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Kursant</a>
                </li>
            </ul>
        </div>
    </nav>
</div>