<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{./fragments/main_layout}">
<head>
    <title>iRide</title>
</head>
<body>
<div layout:fragment="content" class="container" style="min-width: 600px;">
    <div class="jumbotron p-2" style="max-width: 100%;">
        <table class="table" style="table-layout: fixed;word-wrap: break-word;">
            <caption style="caption-side: top;" class="text-center"><h1>Szczegóły kursu</h1></caption>
            <tbody>
            <tr>
                <td style="border-right: 1px solid #dee2e6">
                    <div style="float:left;">Id:</div>
                    <div th:text="${'d@iride.pl'}" style="float:right; "></div>
                </td>
                <td style="border-right: 1px solid #dee2e6">
                    <div style="float:left;">Instruktor:</div>
                    <div style="float:right;">
                        <a th:href="@{'/course/'}" th:text="${'d@iride.pl'}" />
                    </div>
                </td>
                <td>
                    <div style="float:left;">Kategoria:</div>
                    <div th:text="${'d@iride.pl'}" style="float:right; "></div>
                </td>
            </tr>
            <tr>
                <td style="border-right: 1px solid #dee2e6">
                    <div style="float:left;">Min. liczba godzin:</div>
                    <div th:text="${'d@iride.pl'}" style="float:right; "></div>
                </td>
                <td style="border-right: 1px solid #dee2e6">
                    <div style="float:left;">Pozostałe godziny:</div>
                    <div th:text="${'d@iride.pl'}" style="float:right; "></div>
                </td>
                <td>
                    <div style="float:left;">Godziny zaliczone:</div>
                    <div th:text="${'d@iride.pl'}" style="float:right; "></div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div style="float:left;">Zaplanowane lekcje:</div>
                    <div style="display: inline; float:right;">
                        <div style="display: inline">
                            <a th:href="@{'/event/'}" th:text="${'d@iride.pl'}" style="float:right; display: inline;"></a>
                        </div>
                    </div>
                </td>
                <td>
                    <div style="float:left;">Status:</div>
                    <div th:text="${'d@iride.pl'}" style="float:right; "></div>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <div style="float:left; ">Przeprowadzone lekcje:</div>
                    <div style="display: inline; float:right;">
                        <div style="display: inline">
                            <a th:href="@{'/event/'}" th:text="${'d@iride.pl'}" style="float:right; display: inline;"></a>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>