<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{./fragments/main_layout}">
<head>
    <title>iRide</title>
</head>
<body>
<div layout:fragment="content" class="container" style="min-width: 600px;">
    <div class="jumbotron p-2" style="max-width: 100%;">
        <h1 class="text-center" style="color: #6c757d;">Utwórz lekcję</h1>
        <form th:action="@{'/course/create'}" method="post" >
            <div class="form-row">
                <div class="col">
                    <label for="hoursMinimum" class="pt-2">Pojazd:</label>
                    <select class="custom-select" id="instructor_select" name="instructorId" required>
                        <option>a</option>
                        <option>a</option>
                        <option>a</option>
                        <option>a</option>
                        <option>a</option>
                    </select>
                </div>
                <div class="col">
                    <label for="hoursMinimum" class="pt-2">Dzień:</label>
                    <select class="custom-select" id="instructor_select" name="instructorId" required>
                        <option>a</option>
                        <option>a</option>
                        <option>a</option>
                        <option>a</option>
                        <option>a</option>
                    </select>
                </div>
            </div>
            <div class="form-row">

                <div class="col">
                    <label for="hoursMinimum" class="pt-2">Godzina rozpoczęcia:</label>
                    <select class="custom-select" id="instructor_select" name="instructorId" required>
                        <option>a</option>
                        <option>a</option>
                        <option>a</option>
                        <option>a</option>
                        <option>a</option>
                    </select>
                </div>
                <div class="col">
                    <label for="hoursMinimum" class="pt-2">Długość (w godz.):</label>
                    <select class="custom-select" id="instructor_select" name="instructorId" required>
                        <option>a</option>
                        <option>a</option>
                        <option>a</option>
                        <option>a</option>
                        <option>a</option>
                    </select>
                </div>
            </div>
            <div class="form-group text-center pt-3">
                <input class="btn btn-primary btn-sm my-2" type="submit">
            </div>
        </form>
    </div>
</div>
</body>
</html>