<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{./fragments/main_layout}">
<head>
    <title>iRide</title>
</head>
<body>
<div layout:fragment="content" class="container" style="max-width: 600px;">
    <div class="jumbotron p-2" style="max-width: 100%;">
        <h1 class="text-center" style="color: #6c757d;">Dodaj kategorię</h1>
        <form th:action="@{'/category/create'}" method="post">
            <div class="form-row">
                <div class="col">
                    <label for="categoryName" class="pt-2">Nazwa kategorii:</label>
                    <input type="text" class="form-control" id="categoryName" name="categoryName" required>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <label for="categoryType" class="pt-2">Typ kategorii:</label>
                    <select class="custom-select" id="categoryType" name="categoryType" required>
                        <option th:each="category: ${categoryCreateOutput.categoryTypes}" th:value="${category.key}"
                                th:text="${category.value}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group text-center pt-3">
                <input class="btn btn-primary btn-sm my-2" type="submit" value="Dodaj">
            </div>
        </form>
    </div>
</div>
</body>
</html>