<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{./fragments/main_layout}">
<head>
    <title>iRide</title>
</head>
<body>
<div layout:fragment="content" class="container" style="min-width: 700px; max-width: 700px">

    <div th:replace="${infoMessage} ? ~{fragments/status_label :: status_info} : _"></div>
    <div th:replace="${infoError} ? ~{fragments/status_label :: status_error} : _"></div>

    <div class="jumbotron p-2">
        <table class="table">
            <caption style="caption-side: top;" class="text-center"><h1>Kategorie</h1></caption>
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Typ kategorii</th>
                <th scope="col">Nazwa kategorii</th>
                <th scope="col">Akcje</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="courseListAdminOutput: ${categoryListAdminOutputs}">
                <th scope="row" th:text="${courseListAdminOutput.id}" />
                <td th:text="${courseListAdminOutput.categoryType}" />
                <td th:text="${courseListAdminOutput.categoryName}" />
                <td style="max-width: 150px;">
                    <a style="width: 80px" th:href="@{'/categoryEdit/' + ${courseListAdminOutput.id}}" class="btn btn-primary btn-sm my-2">Edycja</a>
                    <form style=" display: inline" th:action="@{'/category/{id}'(id=${courseListAdminOutput.id})}" th:method="DELETE">
                        <input type="hidden" name="_method" value="DELETE"/>
                        <button style="width: 80px;" class="btn btn-danger btn-sm my-2" type="submit" id="submitButton">Usuń</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>