<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{./fragments/main_layout}">
<head>
    <title>iRide</title>
</head>
<body>
<div layout:fragment="content" class="container" style="min-width: 700px; max-width: 1500px">
    <div th:replace="${infoMessage} ? ~{fragments/status_label :: status_info} : _"></div>
    <div th:replace="${infoError} ? ~{fragments/status_label :: status_error} : _"></div>

    <div class="jumbotron p-2">
        <table class="table">
            <caption style="caption-side: top;" class="text-center">
                <h1>Moje kursy</h1>
                <form>
                    <div class="form-row">
                        <div class="col">
                            <input type="number" class="form-control" placeholder="Id kursu">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Kursant">
                        </div>
                        <div class="col">
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>Wszystkie typy kategorii</option>
                                <option>Teoria</option>
                                <option>Praktyka</option>
                            </select>
                        </div>
                        <div class="col">
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>Wszystkie kategorie</option>
                                <option>AM</option>
                                <option>A1</option>
                                <option>A2</option>
                                <option>A</option>
                                <option>B1</option>
                                <option>B</option>
                                <option>B+E</option>
                                <option>C</option>
                                <option>C+E</option>
                                <option>C1</option>
                                <option>C1+E</option>
                                <option>D</option>
                                <option>D+E</option>
                                <option>D1+E</option>
                                <option>T</option>
                            </select>
                        </div>
                        <div class="col">
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>Wszystkie statusy</option>
                                <option>Oczekuje na rozpoczęcie</option>
                                <option>W trakcie</option>
                                <option>Przerwany</option>
                                <option>Ukończony</option>
                            </select>
                        </div>
                        <div class="col-1">
                            <input style="width: 100%; min-width: 75px" type="submit" value="Szukaj" class="btn btn-success">
                        </div>
                    </div>
                </form>
            </caption>
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Instruktor</th>
                <th scope="col">Kursant</th>
                <th scope="col">Dzień</th>
                <th scope="col">Godzina</th>
                <th scope="col">Długość (w godz.)</th>
                <th scope="col">Status</th>
                <th scope="col">Akcje</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row" th:text="${'1'}" />
                <td>
                    <a th:href="@{'/student/'}" th:text="${'d@iride.pl'}" />
                </td>
                <td th:text="${'d@iride.pl'}" />
                <td th:text="${'d@iride.pl'}" />
                <td th:text="${'d@iride.pl'}" />
                <td th:text="${'d@iride.pl'}" />
                <td th:text="${'d@iride.pl'}" />
                <td style="width: 100px;">
                    <a style="width: 80px;" th:href="@{'/course/'}" class="btn btn-primary btn-sm my-2">Szczegóły</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>