<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{./fragments/main_layout}">
<head>
    <title>iRide</title>
</head>
<body>
<div layout:fragment="content" class="container" style="max-width: 600px;">
    <div class="jumbotron p-2" style="max-width: 100%;">
        <table class="table" style="table-layout: fixed;word-wrap: break-word;">
            <caption style="caption-side: top;" class="text-center"><h1>Szczegóły opinii o ID: 1</h1></caption>
            <tbody>
            <tr>
                <td>
                    <div style="float:left;">Kursant:</div>
                    <div style="float:right; "><a th:text="${'Jan Kowalski'}" href="#"></a></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="float:left;">Instruktor:</div>
                    <div style="float:right; "><a th:text="${'Paweł Andrut'}" href="#"></a></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="float:left;">Ocena:</div>
                    <div th:text="${'5'}" style="float:right; "></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="float:left;">Komentarz:</div>
                    <div th:text="${'Bardzo fajny kurs'}" style="float:right; "></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col text-center">
            <form th:action="@{'/vehicle/'}" th:method="DELETE"
                  style="display: inline">
                <input type="hidden" name="_method" value="DELETE"/>
                <button class="btn btn-danger btn-lg" type="submit" id="submitButton" style="color: black">Usuń</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>