<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{./fragments/main_layout}">
<head>
    <title>iRide</title>
</head>
<body>
<div layout:fragment="content" class="container" style="min-width: 600px; max-width: 1500px">

    <div class="jumbotron p-2">
        <table class="table">
            <caption style="caption-side: top;" class="text-center"><h1>Instruktorzy</h1></caption>
            <thead>
            <tr>
                <th scope="col" style="max-width: 95px">ID instruktora</th>
                <th scope="col" style="max-width: 75px">ID konta</th>
                <th scope="col">Imię</th>
                <th scope="col">Nazwisko</th>
                <th scope="col">Kategorie</th>
                <th scope="col">Akcje</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="instructorListAdminOutput: ${instructorListAdminOutputs}">
                <th scope="row" th:text="${instructorListAdminOutput.id}"/>
                <th scope="row" th:text="${instructorListAdminOutput.userId}"/>
                <td th:text="${instructorListAdminOutput.firstname}"/>
                <td th:text="${instructorListAdminOutput.lastname}"/>
                <td>
                    Teoria:
                    <div th:if="${#lists.size(instructorListAdminOutput.theory)} > 0"
                         th:each="theory : ${instructorListAdminOutput.theory}" style="display: inline">
                        <div th:text="${theory}" style="display: inline"/>
                    </div>
                    <div th:if="${#lists.size(instructorListAdminOutput.theory)} == 0" style="display: inline">
                        <div style="display: inline">Brak</div>
                    </div>
                    <br>Praktyka:
                    <div th:if="${#lists.size(instructorListAdminOutput.practice)} > 0"
                         th:each="practice : ${instructorListAdminOutput.practice}" style="display: inline">
                        <div th:text="${practice}" style="display: inline"/>
                    </div>
                    <div th:if="${#lists.size(instructorListAdminOutput.practice)} == 0" style="display: inline">
                        <div style="display: inline">Brak</div>
                    </div>
                </td>
                <td style="max-width: 125px;">
                    <a style="width: 80px;" th:href="@{'/instructor/' + ${instructorListAdminOutput.id}}" class="btn btn-primary btn-sm my-2 text-center">Szczegóły</a>
                    <a style="width: 80px" th:href="@{'/instructorEdit/' + ${instructorListAdminOutput.id}}" class="btn btn-primary btn-sm my-2">Edycja</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>