<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{./fragments/main_layout}">
<head>
    <title>iRide</title>
</head>
<body>
<div layout:fragment="content" class="container" style="min-width: 600px;">
    <div class="jumbotron p-2" style="max-width: 100%;">
        <table class="table" style="table-layout: fixed;word-wrap: break-word;">
            <caption style="caption-side: top;" class="text-center"><h1>Szczegóły kursanta</h1></caption>
            <tbody>
            <tr>
                <td style="border-right: 1px solid #dee2e6">
                    <div style="float:left;">Id:</div>
                    <div th:text="${studentAdminOutput.id}" style="float:right; "></div>
                </td>
                <td style="border-right: 1px solid #dee2e6">
                    <div style="float:left;">Imię:</div>
                    <div th:text="${studentAdminOutput.firstname}" style="float:right; "></div>
                </td>
                <td>
                    <div style="float:left;">Nazwisko:</div>
                    <div th:text="${studentAdminOutput.lastname}" style="float:right; "></div>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="border-right: 1px solid #dee2e6">
                    <div style="float:left;">Aktywne kursy:</div>
                    <div th:if="${#lists.size(studentAdminOutput.activeCourses)} > 0"
                         th:each="course : ${studentAdminOutput.activeCourses}" style="display: inline; float:right;">
                        <a th:href="@{'/course/' + ${course.key}}" th:text="'&nbsp;' + ${course.value}"
                           style="float:right;"/>
                    </div>
                </td>
                <td>
                    <div style="float:left;">Email:</div>
                    <div th:text="${studentAdminOutput.email}" style="float:right; "></div>
                </td>
            </tr>
            <tr>
                <td colspan="2"  style="border-right: 1px solid #dee2e6">
                    <div style="float:left;">Zakończone kursy:</div>
                    <div style="display: inline; float:right;">
                        <div th:if="${#lists.size(studentAdminOutput.historicCourses)} > 0"
                             th:each="course : ${studentAdminOutput.historicCourses}" style="display: inline">
                            <div th:text="${course} + '&nbsp;'" style="float:right; display: inline;"></div>
                        </div>
                        <div th:if="${#lists.size(studentAdminOutput.historicCourses)} == 0">
                            <div style="float:right;">Brak</div>
                        </div>
                    </div>
                </td>
                <td>
                    <div style="float:left;">Numer kontaktowy:</div>
                    <div th:text="${studentAdminOutput.phoneNumber}" style="float:right; "></div>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col text-center">
            <a th:href="@{'/studentEdit/' + ${studentAdminOutput.id}}" class="btn btn-primary btn-lg"
               style="color: black">Edytuj</a>
            <form th:action="@{'/student/{id}'(id=${studentAdminOutput.id})}" th:method="DELETE"
                  style="display: inline">
                <input type="hidden" name="_method" value="DELETE"/>
                <button class="btn btn-danger btn-lg" type="submit" id="submitButton" style="color: black">Usuń</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>