<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{./fragments/main_layout}">
<head>
    <title>iRide</title>
</head>
<body>
<div layout:fragment="content" class="container" style="min-width: 600px; max-width: 1500px">

    <div th:replace="${infoMessage} ? ~{fragments/status_label :: status_info} : _"></div>
    <div th:replace="${infoError} ? ~{fragments/status_label :: status_error} : _"></div>

    <div class="jumbotron p-2">
        <table class="table">
            <caption style="caption-side: top;" class="text-center">
                <h1>Konta</h1>
                <form>
                    <div class="form-row">
                        <div class="col">
                            <input type="number" class="form-control" placeholder="Id konta">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Email">
                        </div>
                        <div class="col">
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>Wszystkie statusy</option>
                                <option>Aktywny</option>
                                <option>Oczekuje na potwierdzenie</option>
                                <option>Zablokowany</option>
                            </select>
                        </div>
                        <div class="col">
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>Wszystkie grupy</option>
                                <option>Administrator</option>
                                <option>Instruktor</option>
                                <option>Kursant</option>
                            </select>
                        </div>
                        <div class="col-1">
                            <input style="width: 100%; min-width: 75px" type="submit" value="Szukaj" class="btn btn-success">
                        </div>
                    </div>
                </form>
            </caption>
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Email</th>
                <th scope="col">Data utworzenia</th>
                <th scope="col">Status</th>
                <th scope="col">Grupa</th>
                <th scope="col">Akcje</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="userListAdminOutput: ${userListAdminOutputs}">
                <th scope="row" th:text="${userListAdminOutput.id}" />
                <td th:text="${userListAdminOutput.email}" />
                <td th:text="${userListAdminOutput.creationDate}" />
                <td th:text="${userListAdminOutput.status}" />
                <td th:text="${userListAdminOutput.accountRole}" />
                <td style="max-width: 115px;">
                    <a style="width: 80px" th:href="@{'/userEdit/' + ${userListAdminOutput.id}}" class="btn btn-primary btn-sm my-2">Edycja</a>
                    <a style="width: 80px" th:href="@{'/userEdit/' + ${userListAdminOutput.id}}" class="btn btn-primary btn-sm my-2">Zablokuj</a>
                    <form style=" display: inline" th:action="@{'/user/{id}/{group}'(id=${userListAdminOutput.id}, group=${userListAdminOutput.accountRole})}" th:method="DELETE">
                        <input type="hidden" name="_method" value="DELETE"/>
                        <button style="width: 80px;" class="btn btn-danger btn-sm my-2" type="submit" id="submitButton">Usuń</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>