<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{./fragments/main_layout}">
<head>
    <title>iRide</title>
</head>
<body>
<div layout:fragment="content" class="container" style="min-width: 600px; max-width: 1500px">

    <div th:replace="${infoMessage} ? ~{fragments/status_label :: status_info} : _"></div>
    <div th:replace="${infoError} ? ~{fragments/status_label :: status_error} : _"></div>

    <div class="jumbotron p-2">
        <table class="table">
            <caption style="caption-side: top;" class="text-center">
                <h1>Pojazdy</h1>
                <form>
                    <div class="form-row">
                        <div class="col">
                            <input type="number" class="form-control" placeholder="Id pojazdu">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Marka">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Model">
                        </div>
                        <div class="col">
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>Wszystkie kategorie</option>
                                <option>AM</option>
                                <option>A1</option>
                                <option>A2</option>
                                <option>A</option>
                                <option>B1</option>
                                <option>B</option>
                                <option>B+E</option>
                                <option>C</option>
                                <option>C+E</option>
                                <option>C1</option>
                                <option>C1+E</option>
                                <option>D</option>
                                <option>D+E</option>
                                <option>D1+E</option>
                                <option>T</option>
                            </select>
                        </div>
                        <div class="col-1">
                            <input style="width: 100%; min-width: 75px" type="submit" value="Szukaj"
                                   class="btn btn-success">
                        </div>
                    </div>
                </form>
            </caption>
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Marka</th>
                <th scope="col">Model</th>
                <th scope="col">Kategoria</th>
                <th scope="col">Akcje</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="vehicleListInstructorOutput: ${vehicleListInstructorOutputs}">
                <th scope="row" th:text="${vehicleListInstructorOutput.id}"/>
                <td th:text="${vehicleListInstructorOutput.mark}"/>
                <td th:text="${vehicleListInstructorOutput.model}"/>
                <td th:text="${vehicleListInstructorOutput.category} ? ${vehicleListInstructorOutput.category} : 'Brak'"></td>
                <td style="width: 10px;">
                    <a style="width: 80px;" th:href="@{'/vehicle/' + ${vehicleListInstructorOutput.id}}"
                       class="btn btn-primary btn-sm my-2 text-center">Szczegóły</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>